<%- layout("/layouts/boilerplate") %>

<body>
  <h2 class="my-3">All Listings</h2>
    <div class="row row-cols-lg-3 ow-cols-lg-2 ow-cols-lg-1">
 <% for(let listings of allListings){ %>
 <a href="/listings/<%=listings._id%>" class="list-link">
     <div class="card mb-5 listing-card" >
    <img
      src="<%=listings.image.url%>"
      class="card-img-top"
      alt="listing_image"
      style="height: 20rem;"
    />
     <div class="card-img-overlay"></div>
    <div class="card-body">
      <p class="card-text"><b><%= listings.title %> </b><br>₹<%= listings.price.toLocaleString("en-IN") %> / night</p>
    </div>
  </div>
 </a>
  <% } %>
    </div>

</body>
